# Dependencies
node_modules/

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/

# Temporary files
*.tmp
*.temp